{{ define "main" }}

  {{/* choose image: page param `image` if present, otherwise default */}}
  {{ $image := .Params.image | default "/img/7.jpg" }}

  {{/* choose subtitle: page param `subtitle` if present, otherwise description */}}
  {{ $subtitle := cond (isset .Params "subtitle") .Params.subtitle .Description }}

  {{ partial "jumbotron" (dict "imageUrl" $image "title" .Title "subtitle" $subtitle) }}

  <div class="mw6 center ph3 pv4">
    <div class="cms mw6" style="text-align:justify;">{{ .Content }}</div>
  </div>

{{ end }}
